/* Color Theme Swatches in Hex */
$Salmon-on-Ice-1-hex: #3F464C;
$Salmon-on-Ice-2-hex: #2186C4;
$Salmon-on-Ice-3-hex: #7ECEFC;
$Salmon-on-Ice-4-hex: #FFF6E5;
$Salmon-on-Ice-5-hex: #FF7F66;

/* Color Theme Swatches in RGBA */
$Salmon-on-Ice-1-rgba: rgba(63,70,76, 1);
$Salmon-on-Ice-2-rgba: rgba(33,134,196, 1);
$Salmon-on-Ice-3-rgba: rgba(126,206,252, 1);
$Salmon-on-Ice-4-rgba: rgba(255,246,229, 1);
$Salmon-on-Ice-5-rgba: rgba(255,127,102, 1);

/* Color Theme Swatches in HSLA */
$Salmon-on-Ice-1-hsla: hsla(207, 9, 27, 1);
$Salmon-on-Ice-2-hsla: hsla(202, 71, 44, 1);
$Salmon-on-Ice-3-hsla: hsla(201, 95, 74, 1);
$Salmon-on-Ice-4-hsla: hsla(39, 100, 94, 1);
$Salmon-on-Ice-5-hsla: hsla(9, 100, 70, 1);